<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div *ngIf="isAddingProduct"
                class="loading  position-absolute d-flex justify-content-center align-items-center flex-column gap-2">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
                <p><b>Creating Product </b></p>
            </div>
            <form class="container ps-4" [formGroup]="addProductForm">
                <div class="d-flex flex-column w-100">
                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Name</h6>
                        <input type="text" pInputText class="w-full" formControlName="name" />
                    </span>
                    <span class="p-float-label">
                        <h6 class="addressLabel ps-3">Brand</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 pt-0">
                                <p-dropdown [options]="brandOption" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="brand">
                                </p-dropdown>
                            </div>
                            <div class="col-1 d-flex align-items-center pt-0">
                                <i class="bi bi-plus-circle-dotted" (click)="onAddBrand()" pTooltip="Add new Brand"></i>
                            </div>
                        </div>
                    </span>
                    <span class="p-float-label">
                        <h6 class="addressLabel ps-3">Category</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 pt-0">
                                <p-dropdown [options]="categoryOption" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="category" (onChange)="onCategoryChange($event)">
                                </p-dropdown>
                            </div>
                            <div class="col-1 d-flex align-items-center pt-0">
                                <i class="bi bi-plus-circle-dotted" (click)="onAddCategory()"
                                    pTooltip="Add new Category"></i>
                            </div>
                        </div>
                    </span>
                    <span class="p-float-label">
                        <h6 class="addressLabel ps-3">Sub category</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 pt-0">
                                <p-dropdown [options]="subCategoryOption" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="subCategory">
                                </p-dropdown>
                            </div>
                            <div class="col-1 d-flex align-items-center pt-0">
                                <i class="bi bi-plus-circle-dotted" (click)="onAddSubCategory()"
                                    pTooltip="Add new Sub Category"></i>
                            </div>
                        </div>
                    </span>

                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">
                            Color <small>(Optional)</small>
                        </h6>
                        <div class="d-flex gap-2">
                            <p-multiSelect class="w-100" [options]="attribute.COLOR" optionLabel="name"
                                formControlName="color" display="chip">
                            </p-multiSelect>
                        </div>
                    </span>

                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">
                            Size <small>(Optional)</small>
                        </h6>
                        <div class="d-flex gap-2">
                            <p-multiSelect class="w-100" [options]="attribute.SIZE" optionLabel="name"
                                formControlName="size" display="chip">
                            </p-multiSelect>
                        </div>
                    </span>

                    <span class="p-float-label col-11 mb-0">
                        <h6 class="addressLabel ps-0">Package Size</h6>
                        <div></div>
                        <div class="row px-2">
                            <div class="col-6 p-1">
                                <p class="mb-1">Length (cm)</p>
                                <input type="text" pInputText class="w-full" formControlName="length" pKeyFilter="int"
                                    max="200" />
                                <small id="username-help">Maximum: 200 cm</small>
                            </div>

                            <div class="col-6 p-1">
                                <p class="mb-1">Height (cm)</p>
                                <input type="text" pInputText class="w-full" formControlName="height" pKeyFilter="int"
                                    max="200" />
                                <small id="username-help">Maximum: 200 cm</small>
                            </div>
                        </div>
                        <div class="row px-2">
                            <div class="col-6 p-1">
                                <p class="mb-1">Width (cm)</p>
                                <input type="text" pInputText class="w-full" formControlName="width" pKeyFilter="int"
                                    max="200" />
                                <small id="username-help">Maximum: 200 cm</small>
                            </div>

                            <div class="col-6 p-1">
                                <p class="mb-1">Weight (gram)</p>
                                <input type="text" pInputText class="w-full" formControlName="weight" pKeyFilter="int"
                                    max="1600000" />
                                <small id="username-help">Maximum: 160000 gram</small>
                            </div>
                        </div>
                    </span>
                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Price</h6>
                        <p-inputNumber formControlName="price" mode="currency" currency="VND" locale="jp-JP">
                        </p-inputNumber>
                    </span>

                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Detail</h6>
                        <textarea formControlName="detail" class="w-100" name="" id="textarea" pInputTextarea
                            [autoResize]="true"></textarea>
                    </span>

                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Description</h6>
                        <textarea formControlName="description" class="w-100" name="" id="textarea" pInputTextarea
                            [autoResize]="true"></textarea>
                    </span>
                </div>

                <div class="pet-image col-11">
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <b>Product Image</b>
                        </div>
                    </p-divider>
                    <div class="d-flex justify-content-center w-100">
                        <p-fileUpload name="file[]" class="w-100 my-1" name="demo[]" chooseLabel="Select image"
                            cancelLabel="Cancel" [showUploadButton]="false" [multiple]="true" [maxFileSize]="10000000"
                            (onSelect)="onSelectFiles($event)" (onRemove)="onRemoveFile($event)">
                            <ng-template pTemplate="content">
                                <!-- <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul> -->
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
                <div class="button-group d-flex justify-content-center mt-2">
                    <button pButton pRipple label="Create new Product" type="submit" (click)="onAddProduct()"
                        [disabled]="addProductForm.invalid || imgs.length == 0"></button>
                </div>
            </form>
        </div>
    </div>
</div>