<div *ngIf="isLoading"
    class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
    <p style="opacity: 0.7">Loading</p>
</div>
<p class="bread-crumb">
    Store > {{ product?.subCategory?.category?.name }} >
    {{ product?.subCategory?.name }}
</p>
<div class="container-fluid p-4" *ngIf="!isLoading">
    <div class="row">
        <app-product-image class="col-xl-7 order-xl-1" [images]="product.images"></app-product-image>
        <div class="product-info col-xl-5 order-xl-2">
            <div class="basic-info ps-4">
                <div class="product-name d-flex">
                    <h1 class="py-2 mb-0">{{ product?.name }}</h1>
                </div>
                <div class="product-rating">
                    <p-rating [(ngModel)]="product.avgRating" [readonly]="true" [cancel]="false"></p-rating>
                </div>

                <h5 class="mt-2">{{ attPrice | number : "1.0-0" }} VND</h5>
                <p>
                    {{product.description}}
                </p>
                <div class="size attribute">
                    <h5 class="mb-0 mt-1">
                        <b [style.width.px]="80">Brand:</b>
                    </h5>
                    <h5 class="mb-0 mt-1">{{ product?.brand.name }}</h5>
                </div>
                <p-divider></p-divider>
                <div class="size attribute" *ngIf="listSize.length > 0">
                    <h5 class="mt-2"><b>Size</b></h5>
                    <div class="size" *ngFor="let size of listSize" [id]="size.attributeId"
                        [ngClass]="{ disabled: !size.active }" (click)="
                            size.active
                                ? onAttribute($event, size, 'size')
                                : null
                        ">
                        {{ size.name }}
                    </div>
                </div>
                <div class="color attribute" *ngIf="listColor.length > 0">
                    <h5 class="mt-2"><b>Color</b></h5>

                    <div class="color" *ngFor="let color of listColor" [id]="color.attributeId"
                        [ngClass]="{ disabled: !color.active }" (click)="
                            color.active
                                ? onAttribute($event, color, 'color')
                                : null
                        ">
                        {{ color.name }}
                    </div>
                </div>
                <!-- <p-divider></p-divider> -->
                <!-- <div class="size attribute" *ngIf="listSize.length > 0"> -->
                <div class="size attribute">
                    <h5 class="mt-2"><b>Amount</b></h5>
                    <!-- <p-inputNumber
                        [(ngModel)]="numberOfProduct"
                        [showButtons]="true"
                        buttonLayout="horizontal"
                        inputId="horizontal"
                        spinnerMode="horizontal"
                        [step]="1"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        [min]="0"
                        [max]="selectedVariety.stockAmount || 0"
                        (onInput)="onChangeQty($event)"
                    ></p-inputNumber> -->
                    <app-quantity [quantity]="numberOfProduct" (onQuantity)="onChangeQty($event)"
                        [max]="selectedVariety?.stockAmount || 0"></app-quantity>
                    <small *ngIf="isDisableBuy" class="text-danger w-100">Over stock</small>
                </div>
            </div>

            <div class="button-group pt-4 ps-4 d-flex gap-2">
                <button [disabled]="!numberOfProduct" class="btn btn-primary" (click)="buyNow()">
                    Buy now
                </button>
                <button pButton pRipple [disabled]="!numberOfProduct" class="btn btn-secondary"
                    icon="pi pi-shopping-cart" (click)="addToCart()"></button>
            </div>
        </div>
    </div>
    <div *ngIf="merchant" class="mt-4 card d-flex flex-row">
        <div class="d-flex gap-4 align-items-center me-4">
            <div>
                <img width="100px" height="100px" src="{{merchant.merchantAvatar}}" alt=""
                    onerror="this.onerror=null;this.src='/assets/no_user.png';" class="rounded-circle">
            </div>
            <div class="action d-flex flex-column gap-2">
                <h4 class="my-1">{{merchant.merchantName}}</h4>
                <div class="d-flex flex-row gap-2">
                    <button pButton pRipple class="btn btn-secondary" icon="pi pi-comments" label="Chat"
                        (click)="chat()"></button>
                    <button pButton pRipple class="btn btn-secondary" icon="pi pi-eye" label="View Shop"
                        (click)="goToMerchant()"></button>
                </div>

            </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="merchant-info">
            <div class="info">
                <h6>Joined: {{merchant.createdDate | date }}</h6>
                <h6>Products: {{merchant.noProduct}}</h6>
            </div>
            <div class="info">

                <h6>Phone Number: {{merchant.phoneNumber}}</h6>
                <h6>Address: {{merchant.cityName}}</h6>
            </div>
        </div>
    </div>

    <div class="mt-4 card">
        <p-tabView>
            <p-tabPanel header="Product Details">
                <p style="font-size: 20px;" [innerHTML]="product.detail">
                </p>
            </p-tabPanel>
            <p-tabPanel header="Rating & Reviews">
                <div class="list-review card" *ngFor="let rv of product.ratingList">
                    <div class="info d-flex align-items-start ">
                        <img width="50px" class="me-2 rounded-circle" src="{{ rv.userAvatar   }}"
                            onerror="this.onerror=null;this.src='/assets/no_user.png';" alt="" />
                        <span class="d-flex flex-column">
                            <p style="font-size: 0.75rem" class="m-0">
                                {{ rv.userFirstName }} {{ rv.userLastName }} |
                                {{ rv.date | date : "dd/MM/yyyy" }}
                            </p>
                            <span><p-rating [(ngModel)]="rv.score" [cancel]="false" [readonly]="true"></p-rating></span>
                            <p class="mt-2 mb-0">{{ rv.message }}</p>
                        </span>
                    </div>
                    <hr />
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <!-- <div *ngIf="product.description" class="detail-status pt-4">
        <div class="card p-4 my-4">
            <h5><b>Detail</b></h5>
            <span>{{ product.description }}</span>
        </div>
    </div> -->

    <!-- <div class="card detail-status p-4 mt-">
        <div class="inline-flex align-items-center">
            <h5><b>Review</b></h5>
            <div class="list-review" *ngFor="let rv of product.ratingList">
                <div class="info d-flex align-items-start">
                    <img
                        width="50px"
                        class="me-2"
                        src="{{ product.images[0] || rv.userAvatar }}"
                        onerror="this.onerror=null;this.src='/assets/imgs/no_user.png';"
                        alt=""
                    />
                    <span class="d-flex flex-column">
                        <p style="font-size: 0.75rem" class="m-0">
                            {{ rv.userFirstName }} {{ rv.userLastName }} |
                            {{ rv.date | date : "dd/MM/yyyy" }}
                        </p>
                        <span
                            ><p-rating
                                [(ngModel)]="rv.score"
                                [cancel]="false"
                                [readonly]="true"
                            ></p-rating
                        ></span>
                        <p class="mt-2 ps-2 mb-0">{{ rv.message }}</p>
                    </span>
                </div>
                <hr />
            </div>
        </div>
    </div> -->


    <section class="section my-4 product" id="shop" aria-label="product">
        <div>
            <h4 class="h4 section-title">Recommend for you</h4>
            <swiper-container class="mySwiper" navigation="true" space-between="30" autoplay-delay="3500" rewind="true"
                autoplay-disable-on-interaction="false" slides-per-view="5">
                <swiper-slide *ngFor="let item of similarProd" class="live-slide cursor-pointer"
                    (click)="onProdClick(item.productId)" style="height: 380px;">
                    <app-product-card class="my-2" [product]="item"></app-product-card>
                </swiper-slide>
                <div class="autoplay-progress" slot="container-end">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </swiper-container>

        </div>
    </section>
    <section class="section my-4 product" id="shop" aria-label="product">
        <div class="container-fluid mx-auto">
            <h4 class="h4 section-title">Best Seller</h4>

            <swiper-container class="mySwiper" navigation="true" space-between="30" autoplay-delay="3500" rewind="true"
                autoplay-disable-on-interaction="false" slides-per-view="5">
                <swiper-slide *ngFor="let item of mostBuy" class="live-slide cursor-pointer"
                    (click)="onProdClick(item.productId)" style="height: 380px;">
                    <app-product-card class="my-2" [product]="item"></app-product-card>
                </swiper-slide>
                <div class="autoplay-progress" slot="container-end">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </swiper-container>
        </div>
    </section>
</div>