<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="d-flex flex-wrap">

                <div class="col-12 xl:col-6">
                    There is no live stream available at the moment.

                    <h1>Access the Camera</h1>

                    <video autoplay="true" id="videoElement"></video>
                    <button *ngIf="!isOnLive" pButton pRipple label="Start Live Stream" class="p-button-success mr-2"
                        (click)="isOnLive = true;getCamera()"></button>

                </div>
                <div class="col-12 xl:col-6">Select Product for Live</div>
            </div>
        </div>

    </div>
</div>