<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-table #dt [value]="listMerchant" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[
                                'name',
                                'price',
                                'brand.name',
                                'subCategory.category.name'
                            ]" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="merchantId">
                            ID <p-sortIcon field="merchantId"></p-sortIcon>
                        </th>
                        <th>Name</th>
                        <th pSortableColumn="createdDate">
                            Created Date
                            <p-sortIcon field="createdDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phoneNumber">
                            Phone <p-sortIcon field="phoneNumber"></p-sortIcon>
                        </th>

                        <th pSortableColumn="cityName">
                            City
                            <p-sortIcon field="cityName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">
                            Rating <p-sortIcon field="rating"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-merchant>
                    <tr (click)="onMerchantSelected(merchant)">
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Name</span>
                            {{ merchant.merchantId }}
                        </td>

                        <td>
                            <span>
                                {{ merchant.merchantName }}
                            </span>
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Created Date</span>
                            {{ merchant.createdDate | date }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Phone Number</span>
                            {{ merchant.phoneNumber }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Rating</span>
                            <p-rating [ngModel]="merchant.rating || 0" [readonly]="true" [cancel]="false"></p-rating>
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="onRowSelect(merchant)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>