<div class="card m-2" (click)="onCardClick()">
    <img
        src="{{
            product.images
                ? product.images[0]
                : 'https://via.placeholder.com/320x300'
        }}"
    />
    <div class="card-content w-100 d-flex flex-column p-3">
        <h5 class="product-name clamp mb-0">{{ product?.name }}</h5>
        <!-- <p class="product-des">
      {{ product?.description }}
    </p> -->
        <p class="product-des clamp mt-0 mb-1" style="font-size: 0.85rem">
            {{ product?.subCategory?.category?.name }}
        </p>
        <div *ngIf="!viewOnly" class="product-rating">
            <p-rating
                [(ngModel)]="product.avgRating"
                [readonly]="true"
                [cancel]="false"
            ></p-rating>
        </div>
        <p
            *ngIf="!viewOnly"
            class="mt-2 mb-0 product-price d-flex justify-content-between"
        >
            {{ product?.price.toLocaleString() }} VND
        </p>
    </div>
</div>
