<div *ngIf="!isLoading; else loading" class="card m-2" [style.max-width]="isFitWidth ? '100%' : '220px'"
    (click)="onCardClick()">
    <div class="image-container">

        <img class="img"
            src="{{ product?.image ||( product?.images ? product?.images[0] : '/assets/no_prod.jpg') || '/assets/no_prod.jpg' }}"
            lazyload="true" onerror="this.onerror=null;this.src='/assets/no_prod.jpg';" />
    </div>
    <div class="card-content w-100 d-flex flex-column p-3 justify-content-between">
        <span>
            <h5 class="product-name clamp mb-0">{{ product?.name }}</h5>
            <!-- <p class="product-des">
      {{ product?.description }}
    </p> -->
            <p *ngIf="isShowCategory" class="product-des clamp mt-0 mb-1" style="font-size: 0.85rem">
                {{ product?.subCategory?.category?.name || product?.categoryName }}
            </p>
            <div *ngIf="!viewOnly" class="product-rating">
                <p-rating [(ngModel)]="product.avgRating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
        </span>

        <p *ngIf="!viewOnly" class="mb-0 product-price d-flex justify-content-between">
            {{ product?.price.toLocaleString() }} VND
        </p>
    </div>
</div>

<ng-template #loading>
    <div class="card m-2" [style.max-width]="'220px'">
        <p-skeleton class="img" height="200px"></p-skeleton>
        <p-skeleton class="card-content w-100 d-flex flex-column p-3" height="3rem">
        </p-skeleton>
        <p-skeleton class="w-100 px-3 py-2"></p-skeleton>
        <p-skeleton class="w-100 px-3 py-2"></p-skeleton>
        <p-skeleton class="w-100 px-3 py-2"></p-skeleton>
        <p-skeleton> </p-skeleton>
    </div>
</ng-template>