@import "../../../colors.less";

.card {
    margin: 16px;
    cursor: pointer;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    max-width: 100%;
    box-shadow: 2px 5px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 2px 5px 2px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 2px 5px 2px 0px rgba(0, 0, 0, 0.12);
    &:hover {
        box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.12);
    }
    img {
        align-self: stretch;
        height: 200px;
        border-radius: 4px;
    }
    i {
        cursor: pointer;
        font-size: 24px;
        &:hover {
            color: @primary-color;
            font-weight: 700;
        }
    }
}
