.video-container {
    position: relative;
    // border: solid 1px;
    margin-left: 2rem;
    margin-top: 2rem;

    border-radius: 12px;
    .w-100 {
        width: 100%;
    }
    .comment-container {
        background-color: transparent;
        position: absolute;
        width: 100%;

        max-height: 40%;
        bottom: 0.25rem;
        padding: 1rem;
        bottom: 0;
        .comment-list {
            position: relative;
            bottom: 48px;
            max-height: 120px;
            overflow: auto;
            scroll-behavior: smooth;
        }
        .comment-item {
            // max-height: 80%;
            .text-white {
                color: white;
            }
        }
        .comment-input {
            bottom: 10px;
            position: absolute;
            width: 90%;
            input {
                width: 100%;
                border-radius: 20px;
                font-size: 1rem;
                padding: 0.5rem 1rem;
            }
        }
    }
    .viewer {
        position: absolute;
        top: 10px;
        right: 10px;

        background-color: white;
        padding: 4px 12px;
        border-radius: 16px;
    }
}

::-webkit-scrollbar {
    display: none;
}
