<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!-- <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar> -->

            <p-table #dt [value]="liveInvoices" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[
                    'type',
                    'createdDate',
                    'value',
                    'finalPrice',
                    'maxValue',
                    'minInvoiceValue',
                    'paymentType',
                    'cityName',
                    'districtName',
                    'wardName',
                    'invoiceId',
                    'liveInvoiceId'
                ]" [(selection)]="selectedVouchers" selectionMode="multiple" [rowHover]="true" dataKey="invoiceId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span>
                            <div class="d-flex gap-2 align-items-center">
                                <h5 class="m-0 mb-1">Manage Live Order</h5>
                                <!-- <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file"
                                    (click)="dt.exportCSV()"
                                    class="mr-2"
                                    pTooltip="CSV"
                                    tooltipPosition="bottom"
                                ></button>
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-excel"
                                    (click)="exportExcel()"
                                    class="p-button-success mr-2"
                                    pTooltip="XLS"
                                    tooltipPosition="bottom"
                                ></button>
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-file-pdf"
                                    (click)="exportPdf()"
                                    class="p-button-warning mr-2"
                                    pTooltip="PDF"
                                    tooltipPosition="bottom"
                                ></button> -->
                            </div>
                        </span>
                        <span class="d-flex gap-2">
                            <span>
                                <p-calendar style="cursor: pointer" [(ngModel)]="rangeDates" placeholder="Select Date"
                                    selectionMode="range" [readonlyInput]="true" dateFormat="dd/mm/yy"
                                    [showButtonBar]="true" [showIcon]="true"
                                    (onClickOutside)="onDateChange()"></p-calendar>
                                <span class="text-primary mx-2" style="cursor: pointer" *ngIf="rangeDates" (click)="
                                        rangeDates = null; onDateChange(true)
                                    ">Clear</span>
                            </span>

                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                    placeholder="Search..." class="w-full sm:w-auto" />
                            </span>

                            <!-- <span class="block mt-2 md:mt-0">
                                <p-dropdown [options]="listStatus" (onChange)="onFilter($event.value)"
                                    [(ngModel)]="selectedStatus" pTooltip="Filter by Status" optionLabel="label"
                                    placeholder="Filter by Status">
                                    <ng-template pTemplate="selectedItem" *ngIf="selectedStatus">
                                        <div class="flex align-items-center gap-2">
                                            <p-tag [value]="selectedStatus.value"
                                                [severity]="getSeverity(selectedStatus.value)"></p-tag>
                                        </div>
                                    </ng-template>
                                    <ng-template let-item pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <p-tag [value]="item.value" [severity]="getSeverity(item.value)"></p-tag>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </span> -->
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th [width]="'20%'">
                            ID
                            <!-- <p-sortIcon field="invoiceId"></p-sortIcon> -->
                        </th>
                        <th [width]="'10%'">
                            Created Date
                            <!-- <p-sortIcon field="createdDate"></p-sortIcon> -->
                        </th>

                        <th [width]="'10%'">
                            <!-- Price <p-sortIcon field="finalPrice"></p-sortIcon> -->
                        </th>
                        <th [width]="'40%'">
                            Address
                        </th>
                        <th [width]="'10%'">
                            Payment
                            <!-- <p-sortIcon field="paymentType"></p-sortIcon> -->
                            <p-columnFilter field="status" matchMode="equals" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showApplyButton]="false" [showAddButton]="false"
                                [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [options]="listPaymentType"
                                        (onChange)="onFilterPaymentType($event.value)" [(ngModel)]="selectedPaymentType"
                                        optionLabel="label" placeholder="Filter by Status">
                                        <ng-template pTemplate="selectedItem" *ngIf="selectedPaymentType">
                                            <div class="flex align-items-center gap-2">
                                                <p-tag [value]="selectedPaymentType.value"
                                                    [severity]="getSeverity(selectedPaymentType.value)"></p-tag>
                                            </div>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <p-tag [value]="item.value"
                                                    [severity]="getSeverity(item.value)"></p-tag>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>

                        <th [width]="'20%'">
                            Status
                            <!-- <p-sortIcon field="status"></p-sortIcon> -->
                            <p-columnFilter field="status" matchMode="equals" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showApplyButton]="false" [showAddButton]="false"
                                [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [options]="listStatus" (onChange)="onFilterStatus($event.value)"
                                        [(ngModel)]="selectedStatus" optionLabel="label" placeholder="Filter by Status">
                                        <ng-template pTemplate="selectedItem" *ngIf="selectedStatus">
                                            <div class="flex align-items-center gap-2">
                                                <p-tag [value]="selectedStatus.value"
                                                    [severity]="getSeverity(selectedStatus.value)"></p-tag>
                                            </div>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <p-tag [value]="item.value"
                                                    [severity]="getSeverity(item.value)"></p-tag>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th></th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr style="cursor: pointer" (click)="openDetail(product)">
                        <!-- <td>
                            <p-tableCheckbox
                                [value]="product"
                                (click)="($event.stopPropagation)"
                            ></p-tableCheckbox>
                        </td> -->

                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">ID</span>
                            {{ product?.invoiceId || product?.liveInvoiceId }}
                        </td>

                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Create Date</span>
                            {{ product.createdDate | date : "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Price</span>
                            {{ product.finalPrice | currency : "VND" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Price</span>
                            {{ product.wardName }}, {{ product.districtName }},
                            {{ product.cityName }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Max vale</span>
                            {{
                            product.paymentType === "CREDIT_CARD"
                            ? "Credit card"
                            : "COD"
                            }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <p-tag [value]="product.status" [severity]="getSeverity(product.status)"></p-tag>
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
            <app-paginator [first]="first" [rows]="10" [totalRecords]="totalRecords"
                (onPageChange)="onPageChange($event)"></app-paginator>
        </div>
    </div>
</div>