<div class="container p-4">
    <div class="info col-sm-12">
        <div class="position-relative">
            <div class="cover-img mb-4 position-relative" id="cover"
                style="background-image: url({{merchantDetail?.merchantCover}}); height: 216px;">
                <div class="logo">
                    <img id="logo" width="150px" height="150px" src="{{ merchantDetail?.merchantAvatar }}" alt=""
                        class="rounded-circle" onerror="this.onerror=null;this.src='/assets/no_user.png';" />

                </div>

            </div>
        </div>
        <div class="pet-info my-auto">
            <h1 class="ps-4">{{ merchantDetail.shelterName }}</h1>
            <div class="basic-info ps-4">
                <h5><b>Name: </b> {{ merchantDetail.merchantName }}</h5>
                <h5>
                    <b>Phone: </b>
                    {{ merchantDetail.phoneNumber }}
                </h5>

                <h5>
                    <b>Address: </b>
                    {{
                    merchantDetail.wardName +
                    ", " +
                    merchantDetail.districtName +
                    ", " +
                    merchantDetail.cityName
                    }}
                </h5>
                <h5>
                    <b>Description: </b>
                    {{ merchantDetail.description }}
                </h5>
                <h5>
                    <b>Created Date: </b>
                    {{ merchantDetail.createdDate | date: "dd/MM/yyyy" }}
                </h5>
                <h5 *ngIf="!isRequest"><b>Allowed to Live: </b>
                    {{ merchantDetail.isLiveable ? 'True' : 'False' }}</h5>
                <h5 *ngIf="!isRequest"><b>Status: </b>
                    {{ merchantDetail.isSuspended ? 'True' : 'False' }}</h5>
                <h5><b>Related Document or License: </b></h5>
                <h6 class="mt-0" style="font-weight: 400" *ngIf="merchantDetail.relatedDocuments.length == 0">
                    (No document or License yet)
                </h6>

            </div>
            <div class="doc-container ps-4 d-flex gap-3">
                <div class="doc-info" *ngFor="let item of merchantDetail.relatedDocuments">
                    <a href="{{ item }}">
                        <div class="doc-icon d-flex justify-content-center align-items-center">
                            <i *ngIf="
                  urlToFileType(item) != 'pdf' &&
                  urlToFileType(item) != 'doc' &&
                  urlToFileType(item) != 'docx'
                " class="bi bi-file-earmark"></i>
                            <i *ngIf="urlToFileType(item) == 'pdf'" class="bi bi-file-earmark-pdf"></i>
                            <i *ngIf="
                  urlToFileType(item) == 'doc' || urlToFileType(item) == 'docx'
                " class="bi bi-file-earmark-word"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="isRequest" class="button ps-4 d-flex gap-3">
            <button class="btn btn-primary" (click)="acceptRequest()">
                Accept
            </button>

            <button class="btn btn-secondary " (click)="rejectRequest()">
                Reject
            </button>
        </div>

        <div *ngIf="!isRequest" class="button ps-4 d-flex gap-3">
            <button *ngIf="!merchantDetail.isSuspended" class="btn btn-primary" (click)="suspendMerchant()">
                Suspend
            </button>

            <button *ngIf="merchantDetail.isSuspended" class="btn btn-primary " (click)="unSuspentMerchant()">
                Unsuspend
            </button>

            <button *ngIf="merchantDetail.isLiveable" class="btn btn-primary" (click)="banLive()">
                Ban Live
            </button>

            <button *ngIf="!merchantDetail.isLiveable" class="btn btn-primary " (click)="unBanLive()">
                UnBan Live
            </button>
        </div>
    </div>
    <!-- <div class="logo col-sm-4 d-flex justify-content-center align-items-center flex-column">
        <img src="{{ merchantDetail.merchantAvatar }}" alt="" class="rounded-circle"
            onerror="this.onerror=null;this.src='/assets/no_user.png';" />

    </div> -->
</div>