<div class="grid w-100 px-6 py-4" style="margin-bottom: 6rem; min-height: 53vh">
    <h3 class="col-12 cart-header mb-0">My cart</h3>
    <div class="col-12 xl:col-8">
        <div class="card px-6 py-6">
            <div *ngFor="let shop of cart">
                <div class="d-flex align-items-center gap-4 my-4">
                    <p-checkbox
                        [binary]="true"
                        (onChange)="selectItem(item)"
                    ></p-checkbox>
                    <h5 class="my-auto">{{ shop.merchantName }}</h5>
                </div>
                <div *ngFor="let item of shop.cartItemDTOList">
                    <div class="cart-item">
                        <span
                            style="min-width: 10rem"
                            class="d-flex align-items-center flex-wrap gap-4"
                        >
                            <p-checkbox
                                [(ngModel)]="item.isSelected"
                                [binary]="true"
                                (onChange)="selectItem(item)"
                            ></p-checkbox>
                            <img
                                [src]="item?.image"
                                width="100"
                                height="100"
                                class="shadow-4 rounded-3"
                            />
                            <span
                                class="d-flex flex-column"
                                style="max-width: 50%"
                            >
                                <h5 class="mb-0">
                                    {{ item.name }}
                                </h5>
                                <small style="font-size: 12px">{{
                                    item.listAttributeName.join(", ")
                                }}</small>
                                <span style="width: 14%; min-width: 8rem">
                                    {{ item.unitPrice | currency : "VND" }}
                                </span>
                            </span>
                        </span>

                        <span
                            style="width: 14%; min-width: 10rem"
                            class="num-item"
                        >
                            <app-quantity
                                [quantity]="item.quantity"
                                [min]="1"
                                [max]="item.stockAmount"
                                (onQuantity)="onChangeQty(item, $event)"
                            ></app-quantity>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-button-text"
                                (click)="
                                    $event.stopPropagation(); removeItem(item)
                                "
                            ></button>
                        </span>
                        <!-- <span style="width: 14%; min-width: 10rem">
                    {{ item.totalItemPrice | currency : "VND" }}
                </span> -->
                    </div>
                    <p-divider></p-divider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-4">
        <div class="card">
            <div class="title mb-2">Order Summary</div>
            <div class="detail">
                <p>Subtotal</p>
                <p>33.000</p>
            </div>
            <div class="detail">
                <p>Discount</p>
                <p>33.000</p>
            </div>
            <p-divider></p-divider>
            <div class="detail">
                <p>Total</p>
                <p>33.000</p>
            </div>
            <button
                [disabled]="selectedProducts.length === 0"
                class="btn btn-primary w-100"
                (click)="onCheckOut()"
            >
                Check out
            </button>
        </div>
    </div>
</div>
