<!-- <div class="newArrival">
  <div class="newArrival-title">New Arrival</div>
  <div class="newArrival-carousel">
    <div class="card">
      <p-carousel
        [value]="products"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="3000"
      >
        <ng-template let-product pTemplate="item">
          <div
            class="border-1 surface-border border-round m-2 text-center py-5 px-3"
          >
            <div class="mb-3">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                  product.image
                }}"
                [alt]="product.name"
                class="w-6 shadow-2"
              />
            </div>
            <div>
              <h4 class="mb-1">{{ product.name }}</h4>
              <h6 class="mt-0 mb-3">{{ "$" + product.price }}</h6>
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
              ></p-tag>
              <div class="car-buttons mt-5">
                <p-button
                  type="button"
                  styleClass="p-button p-button-rounded mr-2"
                  icon="pi pi-search"
                ></p-button>
                <p-button
                  type="button"
                  styleClass="p-button-success p-button-rounded mr-2"
                  icon="pi pi-star-fill"
                ></p-button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div> -->

<div class="shopView d-flex">
    <div class="shopView-filter col-sm-6 col-md-2">
        <div class="side-filter d-flex flex-column p-2">
            <div class="cate-type w-100 p-2">
                <h4>Filter</h4>
                <p-divider></p-divider>
                <!-- <div class="search-bar w-100 d-flex flex-nowrap">
                    <span class="p-input-icon-left w-100 pe-2">
                        <i class="pi pi-search"></i>
                        <input
                            type="text"
                            placeholder="Enter key..."
                            class="rounded-4 p-1 w-100"
                            [(ngModel)]="searchValue"
                            (ngModelChange)="onUserSearched()"
                            pInputText
                        />
                    </span>
                </div> -->
                <div class="cate-type w-100 p-2">
                    <h5>Category</h5>
                    <!-- <p-tree
                        [value]="listCate"
                        class="w-full md:w-30rem"
                        selectionMode="multiple"
                        [(selection)]="selectedCategory"
                    ></p-tree> -->

                    <div
                        *ngFor="let cate of listCate"
                        class="field-checkbox p-1 d-flex align-items-center"
                    >
                        <p-radioButton
                            name="group"
                            [value]="cate.categoryId"
                            [inputId]="cate.categoryId"
                            [(ngModel)]="selectedCate"
                            (onClick)="onCheckboxCateChange($event)"
                        ></p-radioButton>
                        <label [for]="cate.categoryId">{{
                            cate.name || "Unknown"
                        }}</label>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="brand-type w-100 p-2">
                    <h5>Brand</h5>
                    <div
                        *ngFor="let brand of listBrand"
                        class="field-checkbox p-1"
                    >
                        <p-radioButton
                            name="group"
                            [value]="brand.brandId"
                            [inputId]="brand.brandId"
                            [(ngModel)]="selectedBrand"
                            (onClick)="onCheckboxBrandChange($event)"
                        ></p-radioButton>
                        <label [for]="brand.brandId">{{ brand.name }}</label>
                    </div>
                </div>

                <p-divider></p-divider>
                <div class="cate-type w-100 p-2">
                    <h5>Price</h5>
                    <p-slider
                        [(ngModel)]="priceRange"
                        [range]="true"
                        min="0"
                        max="50000000"
                        [step]="1000"
                        (onChange)="onPriceChange()"
                    ></p-slider>
                    <div class="d-flex justify-content-between">
                        <p>{{ priceRange[0] | number : "1.0-0" }}</p>
                        -
                        <p>{{ priceRange[1] | number : "1.0-0" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shopView-list col-10">
        <!-- <ng-template pTemplate="header">
        <span class="w-100 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Search product..."
            (input)="onFilter(dv, $event)"
          />
        </span>
      </ng-template> -->

        <app-product-card
            *ngFor="let product of products"
            [product]="product"
        ></app-product-card>
    </div>
</div>
