<div class="grid">


    <div class="col-12 xl:col-8 position-relative">
        <app-stream-video #stream [streamManager]="subscribers" [session]="session" [isEnd]="isEnd"></app-stream-video>
        <!-- <div class="comment-container">
            <div class="comment-list">
                <div class="comment-item" *ngFor="let comment of listComment">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/avatar.png" alt="" />
                        <div class="ms-2">
                            <h6 class="mb-0">{{ comment?.userName }}</h6>
                            <p class="mb-0">{{ comment?.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-input">
                <input type="text" class="form-control" placeholder="Enter your comment" [(ngModel)]="commentContent"
                    (keyup.enter)="onComment()" />
            </div>
        </div> -->
    </div>
    <div class="col-12 xl:col-4">
        <div class="card">
            <div class="card-header">
                <h3>Our product</h3>
            </div>
            <div class="card-body">
                <p-tabView>
                    <p-tabPanel header="Product">
                        <div *ngIf="!isSelectVariety">
                            <div *ngFor="let item of  listProduct" class="mb-2">
                                <div class="item-name d-flex justify-content-between align-items-center gap-4">
                                    <img width="60px" [src]="item?.coverImage || item?.images[0]" alt="" />
                                    <div class="flex-grow-1">

                                        <h6 class="mb-0">{{ item.name }}</h6>
                                        <!-- <h6 class="mb-0">{{ item.quantity }}</h6> -->
                                        <p class="mb-0">
                                            {{ item?.totalItemPrice || item?.price | currency : "VND" }}
                                        </p>
                                    </div>
                                    <div>
                                        <button pButton pRipple class="btn btn-primary" icon="pi pi-shopping-cart"
                                            (click)="isSelectVariety= true; onSelectProduct(item)"></button>
                                    </div>
                                </div>
                            </div>
                            <!-- <button (click)="turnOffLive()">Turn off live</button> -->
                        </div>
                        <div *ngIf="isSelectVariety && selectedProduct">
                            <div class="item-name d-flex justify-content-between align-items-center gap-4">
                                <i class="bi bi-chevron-left" style="font-size: 24px; cursor: pointer;"
                                    (click)="isSelectVariety = false"></i>
                                <img width="60px" [src]="selectedProduct?.image || selectedProduct?.images[0]" alt="" />
                                <div class="flex-grow-1">

                                    <h6 class="mb-0">{{ selectedProduct.name }}</h6>
                                    <!-- <h6 class="mb-0">{{ selectedProduct.quantity }}</h6> -->
                                    <p class="mb-0">
                                        {{ selectedProduct?.totalselectedProductPrice || selectedProduct?.price |
                                        currency :
                                        "VND" }}
                                    </p>
                                </div>

                            </div>
                            <div class="ps-4 mt-2">

                                <div class="size attribute" *ngIf="listSize.length > 0">
                                    <h6 class="mt-2 w-80"><b>Size</b></h6>
                                    <div class="size" *ngFor="let size of listSize" [id]="size.attributeId"
                                        [ngClass]="{ disabled: !size.active }" (click)="
                                                                        size.active
                                                                            ? onAttribute($event, size, 'size')
                                                                            : null
                                                                    ">
                                        {{ size.name }}
                                    </div>
                                </div>
                                <div class="color attribute" *ngIf="listColor.length > 0">
                                    <h6 class="mt-2 w-80"><b>Color</b></h6>

                                    <div class="color" *ngFor="let color of listColor" [id]="color.attributeId"
                                        [ngClass]="{ disabled: !color.active }" (click)="
                                                                        color.active
                                                                            ? onAttribute($event, color, 'color')
                                                                            : null
                                                                    ">
                                        {{ color.name }}
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <h6 class="mt-2 me-2 w-80"><b>Amount</b></h6>
                                    <app-quantity class="ms-2" [quantity]="numberOfProduct"
                                        [max]="selectedVariety?.stockAmount || 0"
                                        (onQuantity)="onChangeQty($event)"></app-quantity>
                                </div>
                            </div>
                            <div class="px-4 pt-4">
                                <button pButton pRipple [disabled]="isDisableBuy" class="btn btn-primary w-100"
                                    label="Add to Cart" (click)="addToCart(); "></button>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Comment">
                        <div id="comments" class="comment-list height-60 position-relative">
                            <div class="comment-item" *ngFor="let comment of listComment">
                                <div class="d-flex align-items-center mt-2">
                                    <img width="25" height="25" src="{{ comment?.userAvatar }}"
                                        onerror="this.onerror=null;this.src='/assets/no_user.png';" alt=""
                                        class="rounded-circle ms-2" />
                                    <div class="ms-2">
                                        <h6 class="mb-0 text-black">{{ comment?.userName }}</h6>
                                        <p class="mb-0 text-black">{{ comment?.content }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="input-message mt-2">
                            <span>
                                <input type="text" [(ngModel)]="commentContent" (keydown.enter)="onComment()"
                                    placeholder="Enter message ..." />
                                <button (click)="onComment()" [disabled]="!commentContent">
                                    <i class="ps-1 bi bi-send"></i>
                                </button>
                            </span>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Live Cart">
                        <div *ngIf="liveCart['liveCartItemList']">
                            <div *ngFor="let item of liveCart['liveCartItemList']">
                                <div class="cart-item d-flex">
                                    <span style="min-width: 10rem" class="d-flex align-items-center flex-wrap gap-4">
                                        <p-checkbox [(ngModel)]="item.isSelected" [binary]="true"
                                            (onChange)="selectItem(shop,item)"></p-checkbox>
                                        <img [src]="item?.liveItem?.coverImage" width="100" height="100"
                                            class="shadow-4 rounded-3" />
                                        <span class="d-flex flex-column" style="max-width: 50%">
                                            <h5 class="mb-0">
                                                {{ item.liveItem.name }}
                                            </h5>
                                            <!-- <small style="font-size: 12px">{{
                                                item.listAttributeName.join(", ")
                                                }}</small> -->
                                            <span style="width: 14%; min-width: 8rem">
                                                {{ item.liveItem.livePrice | currency : "VND" }}
                                            </span>
                                        </span>
                                    </span>
                                    <span style="width: 14%; min-width: 10rem" class="num-item d-flex my-auto">
                                        <app-quantity [quantity]="item.quantity" [min]="1"
                                            [max]="item.liveItem.currentStock"
                                            (onQuantity)="onChangeQty(item, $event)"></app-quantity>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger p-button-text" (click)="
                                                                    $event.stopPropagation(); removeItem(item)
                                                                "></button>
                                    </span>
                                </div>
                            </div>
                            <div class="px-4 pt-4">
                                <button pButton pRipple [disabled]="!liveCart" class="btn btn-primary w-100"
                                    label="Checkout" (click)="checkout(); "></button>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>

            </div>
        </div>
    </div>
</div>