<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="pet-info my-auto">
                <h1 class="ps-4">{{ merchantDetail.shelterName }}</h1>
                <div class="basic-info ps-4">
                    <h5><b>Name: </b> {{ merchantDetail.merchantName }}</h5>
                    <h5>
                        <b>Phone: </b>
                        {{ merchantDetail.phoneNumber }}
                    </h5>

                    <h5>
                        <b>Address: </b>
                        {{
                        merchantDetail.wardName +
                        ", " +
                        merchantDetail.districtName +
                        ", " +
                        merchantDetail.cityName
                        }}
                    </h5>
                    <h5>
                        <b>Created Date: </b>
                        {{ merchantDetail.createdDate | date: "dd/MM/yyyy" }}
                    </h5>
                    <h5><b>Related Document or License: </b></h5>
                    <h6 class="mt-0" style="font-weight: 400" *ngIf="merchantDetail.relatedDocuments.length == 0">
                        (No document or License yet)
                    </h6>
                </div>
                <div class="doc-container ps-4 d-flex gap-3">
                    <div class="doc-info" *ngFor="let item of merchantDetail.relatedDocuments">
                        <a href="{{ item }}">
                            <div class="doc-icon d-flex justify-content-center align-items-center">
                                <i *ngIf="
                              urlToFileType(item) != 'pdf' &&
                              urlToFileType(item) != 'doc' &&
                              urlToFileType(item) != 'docx'
                            " class="bi bi-file-earmark"></i>
                                <i *ngIf="urlToFileType(item) == 'pdf'" class="bi bi-file-earmark-pdf"></i>
                                <i *ngIf="
                              urlToFileType(item) == 'doc' || urlToFileType(item) == 'docx'
                            " class="bi bi-file-earmark-word"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>