<div *ngIf="isLoading"
    class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body z-3">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
    <p style="opacity: 0.7">Loading</p>
</div>

<div class="container-fluid mt-4" *ngIf="!isLoading" style="min-height: 63vh">
    <div class="row">
        <!-- card-info -->
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile p-4 shadow" [formGroup]="formGroup">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>My Account</h5>
                    <button class="btn btn-secondary w-fit" (click)="registerMerchant()">
                        Register for Merchant
                    </button>
                </div>
                <div class="row justify-content-center">
                    <div class="card-profile-image rounded-circle d-flex justify-content-center">
                        <img width="120px" height="120px" id="imgInput" src="{{ formGroup.value.userAvatar }}"
                            onerror="this.onerror=null;this.src='/assets/no_user.png';" class="rounded-circle" />
                    </div>
                </div>
                <div class="change-logo d-flex justify-content-center my-2">
                    <!-- <button
            (click)="avatarInput.click()"
            style="width: fit-content; padding: 0.25rem 1.5rem"
            class="btn btn-secondary"
          >
            Select avatar
          </button> -->
                    <input type="file" accept="image/png, image/jpeg" #avatarInput (change)="selectedAvatar($event)"
                        style="display: none" />
                </div>
                <div class="pl-lg-4 position-relative px-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h6>Email</h6>
                                <input class="w-100 rounded-2 p-2 mb-3" type="text" placeholder="Username" pInputText
                                    formControlName="userEmail" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>First Name</h6>
                                <input type="email" class="w-100 rounded-2 p-2 mb-3" id="input-email" pInputText
                                    formControlName="userFirstName" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>Last Name</h6>
                                <input type="email" class="w-100 rounded-2 p-2 mb-3" id="input-email" pInputText
                                    formControlName="userLastName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h6>Phone number</h6>
                                <input type="text" maxlength="10" pInputText class="w-100 rounded-2 p-2 mb-3"
                                    placeholder="Enter your Phone number" formControlName="userPhoneNumber"
                                    pKeyFilter="num" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <h6>Member point</h6>
                                <input type="text" pattern="[0-9]+" minlength="10" pInputText maxlength="11"
                                    class="w-100 rounded-2 p-2 mb-3" formControlName="memberPoint" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <span class="d-flex flex-column"> </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <button class="btn btn-primary m-auto" (click)="updateData()">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- detail-info -->
        <div class="col-xl-8 order-xl-1">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <h4 class="heading-small text-muted mb-4">My purchase</h4>
                    <div class="pl-lg-6">
                        <div class="row">
                            <p-tabView>
                                <p-tabPanel header="All">
                                    <p-table #dt [value]="listTransactions" [rows]="5" [paginator]="true"
                                        [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
                                        styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '25rem' }">
                                        <ng-template pTemplate="header">
                                            <tr class="py-5">
                                                <th pSortableColumn="totalPrice">
                                                    Invoice ID <p-sortIcon field="totalPrice"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="createdDate" style="min-width: 6rem" class="ps-4">
                                                    Date <p-sortIcon field="createdDate"></p-sortIcon>
                                                </th>

                                                <th pSortableColumn="finalPrice">
                                                    Price <p-sortIcon field="finalPrice"></p-sortIcon>
                                                </th>

                                                <th pSortableColumn="paymentType">
                                                    Payment <p-sortIcon field="paymentType"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="status">
                                                    Status <p-sortIcon field="status"></p-sortIcon>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-invoice>
                                            <tr (click)="onRowSelect(invoice)" style="cursor: pointer">
                                                <td class="ps-4">
                                                    {{ invoice.invoiceId }}
                                                </td>
                                                <td class="">
                                                    {{ invoice.createdDate | date : "dd/MM/yyyy" }}
                                                </td>
                                                <td>{{ invoice.finalPrice | currency : "VND" }}</td>
                                                <td>
                                                    {{
                                                    invoice.paymentType === "CREDIT_CARD"
                                                    ? "Banking"
                                                    : "COD"
                                                    }}
                                                </td>
                                                <td>
                                                    <p-tag [value]="invoice.status"
                                                        [severity]="getSeverity(invoice.status)"></p-tag>
                                                </td>
                                                <td>
                                                    <p-button *ngIf="
                                                              invoice.status === 'PENDING' ||
                                                              invoice.status === 'CANCEL'
                                                            " styleClass="p-button-secondary" label="Contact"
                                                        (onClick)="$event.stopPropagation(); contactAdmin()"></p-button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                    <hr *ngIf="cart" class="mt-4" />
                                    <div *ngIf="selectedInvoice" class="d-flex align-items-center">
                                        <h4 id='invoice'>Invoice ID: {{selectedInvoice.invoiceId}}</h4>
                                        <p-button *ngIf=" cart && selectedInvoice.status === 'PAID'"
                                            styleClass="p-button-secondary" label="Received"
                                            (onClick)="$event.stopPropagation(); updateStatus('COMPLETED')"></p-button>
                                    </div>
                                    <p-table *ngIf="cart" #dt [value]="cart" responsiveLayout="scroll"
                                        [(selection)]="selectedProducts" dataKey="cartItemId" [rows]="8"
                                        [paginator]="true" [rowHover]="true">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Product</th>
                                                <th pSortableColumn="unitPrice">
                                                    Price <p-sortIcon field="unitPrice"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="quantity">
                                                    Quantity <p-sortIcon field="quantity"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="totalItemPrice">
                                                    Total <p-sortIcon field="totalItemPrice"></p-sortIcon>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-product>
                                            <tr>
                                                <td style="min-width: 10rem">
                                                    <span class="p-column-title">Name</span>
                                                    <img [src]="product?.image" width="100" class="shadow-4 me-2" />
                                                    {{ product.name }}
                                                </td>

                                                <td style="width: 14%; min-width: 8rem">
                                                    <span class="p-column-title">Price</span>
                                                    {{ product.unitPrice | currency : "VND" }}
                                                </td>
                                                <td style="width: 14%; min-width: 10rem" class="num-product">
                                                    <span class="p-column-title">Quantity</span>
                                                    {{ product.quantity }}
                                                </td>
                                                <td style="width: 14%; min-width: 10rem">
                                                    <span class="p-column-title">Total</span>
                                                    {{ product.totalPrice | currency : "VND" }}
                                                </td>
                                                <td>
                                                    <p-button *ngIf="isBought" icon="pi pi-pencil"
                                                        styleClass="p-button-secondary" label="Review"
                                                        (onClick)="addRating(product)"></p-button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </p-tabPanel>
                                <!-- <p-tabPanel header="To Pay">
                                    <p>
                                        Sed ut perspiciatis unde omnis iste
                                        natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo
                                        inventore veritatis et quasi architecto
                                        beatae vitae dicta sunt explicabo. Nemo
                                        enim ipsam voluptatem quia voluptas sit
                                        aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores eos qui
                                        ratione voluptatem sequi nesciunt.
                                        Consectetur, adipisci velit, sed quia
                                        non numquam eius modi.
                                    </p>
                                </p-tabPanel>
                                <p-tabPanel header="To Ship">
                                    <p>
                                        At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque
                                        corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non
                                        provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est
                                        laborum et dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita
                                        distinctio. Nam libero tempore, cum
                                        soluta nobis est eligendi optio cumque
                                        nihil impedit quo minus.
                                    </p>
                                </p-tabPanel>
                                <p-tabPanel header="To Revceive">
                                    <p>
                                        At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque
                                        corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non
                                        provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est
                                        laborum et dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita
                                        distinctio. Nam libero tempore, cum
                                        soluta nobis est eligendi optio cumque
                                        nihil impedit quo minus.
                                    </p>
                                </p-tabPanel>
                                <p-tabPanel header="Completed">
                                    <p>
                                        At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque
                                        corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non
                                        provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est
                                        laborum et dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita
                                        distinctio. Nam libero tempore, cum
                                        soluta nobis est eligendi optio cumque
                                        nihil impedit quo minus.
                                    </p>
                                </p-tabPanel>
                                <p-tabPanel header="Cancelled">
                                    <p>
                                        At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque
                                        corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non
                                        provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est
                                        laborum et dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita
                                        distinctio. Nam libero tempore, cum
                                        soluta nobis est eligendi optio cumque
                                        nihil impedit quo minus.
                                    </p>
                                </p-tabPanel>
                                <p-tabPanel header="Return">
                                    <p>
                                        At vero eos et accusamus et iusto odio
                                        dignissimos ducimus qui blanditiis
                                        praesentium voluptatum deleniti atque
                                        corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non
                                        provident, similique sunt in culpa qui
                                        officia deserunt mollitia animi, id est
                                        laborum et dolorum fuga. Et harum quidem
                                        rerum facilis est et expedita
                                        distinctio. Nam libero tempore, cum
                                        soluta nobis est eligendi optio cumque
                                        nihil impedit quo minus.
                                    </p>
                                </p-tabPanel> -->
                            </p-tabView>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>