<div *ngIf="isLoading"
    class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body z-3">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
    <p style="opacity: 0.7">Loading</p>
</div>

<div class="container-fluid mt-4" *ngIf="!isLoading" style="min-height: 63vh">
    <div class="row">
        <!-- card-info -->
        <div class="col-xl-6 col-md-10 order-xl-2 mb-5 mb-xl-0 mx-auto">
            <div class="card card-profile p-4 shadow" [formGroup]="formGroup">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>My Account</h5>
                    <button class="btn btn-secondary w-fit" (click)="registerMerchant()">
                        Register for Merchant
                    </button>
                </div>
                <div class="row justify-content-center">
                    <div class="card-profile-image rounded-circle d-flex justify-content-center">
                        <img width="120px" height="120px" id="imgInput" src="{{ formGroup.value.userAvatar }}"
                            onerror="this.onerror=null;this.src='/assets/no_user.png';" class="rounded-circle" />
                    </div>
                </div>
                <div class="change-logo d-flex justify-content-center my-2">
                    <button (click)="avatarInput.click()" style="width: fit-content; padding: 0.25rem 1.5rem"
                        class="btn btn-secondary">
                        Select avatar
                    </button>
                    <input type="file" accept="image/png, image/jpeg" #avatarInput (change)="selectedAvatar($event)"
                        style="display: none" />
                </div>
                <div class="pl-lg-4 position-relative px-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h6>Email</h6>
                                <input class="w-100 rounded-2 p-2 mb-3" type="text" placeholder="Username" pInputText
                                    formControlName="userEmail" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>First Name</h6>
                                <input type="email" class="w-100 rounded-2 p-2 mb-3" id="input-email" pInputText
                                    formControlName="userFirstName" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>Last Name</h6>
                                <input type="email" class="w-100 rounded-2 p-2 mb-3" id="input-email" pInputText
                                    formControlName="userLastName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h6>Phone number</h6>
                                <input type="text" maxlength="10" pInputText class="w-100 rounded-2 p-2 mb-3"
                                    placeholder="Enter your Phone number" formControlName="userPhoneNumber"
                                    pKeyFilter="num" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <h6>Member point</h6>
                                <input type="text" pattern="[0-9]+" minlength="10" pInputText maxlength="11"
                                    class="w-100 rounded-2 p-2 mb-3" formControlName="memberPoint" locale="jp-JP" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <span class="d-flex flex-column"> </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <button class="btn btn-primary m-auto" (click)="updateData()">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- detail-info -->

    </div>
</div>