/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

::ng-deep {
    .p-password,
    .p-inputtext {
        width: 100%;
        border-radius: 7px;
        height: 40px;
    }
    input {
        border: solid 1px #fff !important;
    }
    .p-password > .p-inputtext {
        border: none !important;
    }
}

.btn-primary {
    border-radius: 10px;
    max-height: 60px;
    min-height: 40px;
    height: 6vh;
    width: 20vw;
    background-color: #ff9b00 !important;
    border: none;
    &:active {
        background-color: #ff9b00 !important;
    }
}
