<div class="main-content">
    <div class="content">
        <h2>Recommended live channels</h2>
        <section class="recommended-live">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"
                space-between="30" centered-slides="true" autoplay-delay="2500" rewind="true"
                autoplay-disable-on-interaction="false">
                <swiper-slide *ngFor="let stream of listStream" class="live-slide cursor-pointer"
                    (click)="onLiveClick(stream)">
                    <div class="d-flex">
                        <img src="{{stream.thumbnail}}" alt="">
                        <h5>{{stream.title}}</h5>
                    </div>
                </swiper-slide>
                <div class="autoplay-progress" slot="container-end">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </swiper-container>

        </section>
        <div class="special-divider">
            <div class="line"></div>
            <div class="special-text">
                Show More <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>
</div>