<div class="main-content">

    <div class="banner position-relative">
        <div class="banner-content d-flex flex-column justify-content-between ">
            <div>
                <h1>Watch live streams and connect with your favorite streamers</h1>
                <p>Join the community and watch your favorite streamers live</p>
            </div>
            <button class="btn btn-primary">Join Now</button>
        </div>
        <div class="banner-prod">
            <swiper-container class="mySwiper" space-between="30" centered-slides="true" autoplay-delay="2500"
                loop="true" autoplay-disable-on-interaction="false">
                <swiper-slide *ngFor="let prod of mostProd" class="live-slide cursor-pointer">
                    <div class="d-flex justify-content-end">
                        <img src="{{prod.images[0]}}" alt="">
                        <!-- <h5>{{prod.title}}</h5> -->
                    </div>
                </swiper-slide>
                <div class="autoplay-progress" slot="container-end">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </swiper-container>
        </div>
    </div>
    <div class="content mt-4">



        <h2>Recommended product for you</h2>
        <section class="recommended-prod">
            <swiper-container class="mySwiper" navigation="true" space-between="30" autoplay-delay="3500" rewind="true"
                autoplay-disable-on-interaction="false" slides-per-view="5">
                <swiper-slide *ngFor="let item of mostProd" class="live-slide cursor-pointer"
                    (click)="onProdClick(item.productId)" style="height: 380px;">
                    <app-product-card class="my-2" [product]="item"></app-product-card>
                </swiper-slide>
                <div class="autoplay-progress" slot="container-end">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </swiper-container>

        </section>
        <h2>Live channels</h2>
        <section class="recommended-live">
            <swiper-container class="mySwiper" navigation="true" space-between="30" autoplay-delay="3500" rewind="true"
                autoplay-disable-on-interaction="false" slides-per-view="3">
                <swiper-slide *ngFor="let stream of listStream" class="live-slide cursor-pointer"
                    (click)="onLiveClick(stream)">
                    <div class="position-relative h-100 w-100">
                        <img src="{{stream.thumbnail}}" alt="" class="live-img w-100">
                        <h5 class="live-title position-absolute mx-auto text-center w-100">{{stream.title}}</h5>
                    </div>
                </swiper-slide>
                <div class="autoplay-progress" slot="container-end">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </swiper-container>

        </section>
    </div>
</div>