<div class="grid">
    <div class="col-12">
        <form class="container p-4 px-6 py-6 grid card mt-1" [formGroup]="addProductForm">
            <div class="d-flex flex-row gap-4">
                <div class="d-flex flex-column w-50 me-4">
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <b>General</b>
                        </div>
                    </p-divider>
                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Name</h6>
                        <input pInputText class="inputtext ps-3 w-100" type="text" formControlName="name" />
                    </span>
                    <span class="p-float-label">
                        <h6 class="addressLabel ps-3">Brand</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 px-3 pt-0">
                                <p-dropdown [options]="brandOption" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="brand">
                                </p-dropdown>
                            </div>
                            <div class="col-1 pt-1">
                                <i class="bi bi-plus-circle-dotted" (click)="onAddBrand()" pTooltip="Add new Brand"></i>
                            </div>
                        </div>
                    </span>
                    <span class="p-float-label">
                        <h6 class="addressLabel ps-3">Category</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 px-3 pt-0">
                                <p-dropdown [options]="categoryOption" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="category" (onChange)="onCateChange($event)">
                                </p-dropdown>
                            </div>
                            <div class="col-1 pt-1">
                                <i class="bi bi-plus-circle-dotted" (click)="onAddCategory()"
                                    pTooltip="Add new Category"></i>
                            </div>
                        </div>
                    </span>
                    <span class="p-float-label">
                        <h6 class="addressLabel ps-3">Sub category</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 px-3 pt-0">
                                <p-dropdown [options]="subCategoryOption" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="subCategory">
                                </p-dropdown>
                            </div>
                            <div class="col-1 pt-1">
                                <i class="bi bi-plus-circle-dotted" (click)="onAddSubCategory()"
                                    pTooltip="Add new Sub Category"></i>
                            </div>
                        </div>
                    </span>
                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Price</h6>
                        <p-inputNumber class="inputtext ps-1 w-100" formControlName="price" mode="currency" min="0"
                            currency="VND" locale="jp-JP"></p-inputNumber>
                    </span>
                    <!-- <span class="p-float-label col-11 mb-0">
                        <h6 class="addressLabel ps-0">Package Size</h6>
                        <div></div>
                        <div class="row px-2">
                            <div class="col-6 p-1">
                                <p class="mb-1">Length (cm)</p>
                                <input type="number" pInputText class="w-full" formControlName="length" pKeyFilter="int"
                                    max="200" />
                                <small id="username-help">Maximum: 200 cm</small>
                            </div>

                            <div class="col-6 p-1">
                                <p class="mb-1">Height (cm)</p>
                                <input type="number" pInputText class="w-full" formControlName="height" pKeyFilter="int"
                                    max="200" />
                                <small id="username-help">Maximum: 200 cm</small>
                            </div>
                        </div>
                        <div class="row px-2">
                            <div class="col-6 p-1">
                                <p class="mb-1">Width (cm)</p>
                                <input type="number" pInputText class="w-full" formControlName="width" pKeyFilter="int"
                                    max="200" />
                                <small id="username-help">Maximum: 200 cm</small>
                            </div>

                            <div class="col-6 p-1">
                                <p class="mb-1">Weight (gram)</p>
                                <input type="number" pInputText class="w-full" formControlName="weight" pKeyFilter="int"
                                    max="1600000" />
                                <small id="username-help">Maximum: 160000 gram</small>
                            </div>
                        </div>
                    </span> -->
                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Detail</h6>
                        <textarea formControlName="detail" class="w-100" name="" id="textarea" pInputTextarea
                            [autoResize]="true" style="max-height: 400px;"></textarea>
                    </span>

                    <span class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Description</h6>
                        <textarea formControlName="description" class="w-100" name="" id="textarea" pInputTextarea
                            [autoResize]="true" style="max-height: 400px;"></textarea>
                    </span>

                    <span *ngIf="variety" class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Stock</h6>
                        <app-quantity class="ms-2" [quantity]="variety.stockAmount" [min]="0"
                            (onQuantity)="updateVariety(variety, $event)"></app-quantity>
                    </span>
                </div>
                <div class="w-50 ms-4">
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <b>Attribute</b>
                        </div>
                    </p-divider>
                    <!-- <div class="size attribute" *ngIf="listSize.length > 0">
        <h6 class="mt-2"><b>Size</b></h6>
        <div
          class="size"
          *ngFor="let size of listSize"
          [id]="size.attributeId"
          (click)="onAttribute($event, size, 'size')"
        >
          {{ size.name }}
        </div>
      </div>
      <div class="color attribute" *ngIf="listColor.length > 0">
        <h6 class="mt-2"><b>Color</b></h6>
        <div
          class="color"
          *ngFor="let color of listColor"
          [id]="color.attributeId"
          (click)="onAttribute($event, color, 'color')"
        >
          {{ color.name }}
        </div>
      </div>
      <span class="p-float-label col-11">
        <h6 class="addressLabel ps-0">Price</h6>
        <input
          class="inputtext ps-1 w-50"
          type="text"
          [(ngModel)]="attPrice"
          [ngModelOptions]="{ standalone: true }"
        />
      </span> -->

                    <p-table *ngIf="!variety" [value]="product.varieties" dataKey="id"
                        [tableStyle]="{ 'min-width': '20rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="100px" *ngIf="listSize.length > 0">
                                    Size
                                </th>
                                <th width="100px" *ngIf="listColor.length > 0">
                                    Color
                                </th>
                                <th class="text-center" width="100px">Stock</th>
                                <!-- <th>Price</th> -->
                                <!-- <th width="80px"></th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-variety let-editing="editing">
                            <tr *ngIf="
                                    variety.varietyAttributes[0]?.name ||
                                    variety.varietyAttributes[1]?.name
                                ">
                                <td *ngIf="listSize.length > 0">
                                    {{
                                    variety.varietyAttributes[0]?.type ==
                                    "SIZE"
                                    ? variety.varietyAttributes[0]?.name
                                    : variety.varietyAttributes[1]?.name
                                    }}
                                </td>
                                <td *ngIf="listColor.length > 0">
                                    {{
                                    variety.varietyAttributes[0]?.type !=
                                    "SIZE"
                                    ? variety.varietyAttributes[0]?.name
                                    : variety.varietyAttributes[1]?.name
                                    }}
                                </td>
                                <td class="text-center" pTooltip="Change Stock">
                                    <app-quantity class="ms-2" [quantity]="variety.stockAmount" [min]="0"
                                        (onQuantity)="updateVariety(variety, $event)"></app-quantity>
                                </td>
                                <!-- <td
                                    [pEditableColumn]="variety.name"
                                    pEditableColumnField="price"
                                >
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber
                                                mode="currency"
                                                locale="jp-JP"
                                                currency="VND"
                                                [(ngModel)]="variety.price"
                                                [ngModelOptions]="{
                                                    standalone: true
                                                }"
                                                required
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <span
                                                pTooltip="Edit price"
                                                style="cursor: pointer"
                                            >
                                                {{
                                                    variety.price
                                                        | currency : "VND"
                                                }}
                                            </span>
                                        </ng-template>
                                    </p-cellEditor>
                                </td> -->
                                <!-- <td>
                                    <div class="flex">

                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning"
                                            (click)="
                                                $event.stopPropagation();
                                                onDeleteAtt(variety)
                                            "
                                        ></button>
                                    </div>
                                </td> -->
                            </tr>
                        </ng-template>
                    </p-table>

                    <span *ngIf="!isAddAtt">
                        <div class="add-attribute d-flex" (click)="onShowAttribute()">
                            <i class="bi bi-plus"></i>
                            <p class="my-auto">Add more attribute</p>
                        </div>
                    </span>
                    <span *ngIf="
                            isAddAtt &&
                            product.subCategory.category.name !== 'Food'
                        " class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Color</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 ps-0 pt-0">
                                <p-dropdown [options]="attribute.COLOR" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="color">
                                </p-dropdown>
                            </div>
                            <div *ngIf="addProductForm.get('color').value" class="col-1 pt-1">
                                <i style="color: green" class="bi bi-check-circle" (click)="onAddAttribute('color')"
                                    pTooltip="Confirm"></i>
                            </div>
                        </div>
                    </span>

                    <span *ngIf="isAddAtt" class="p-float-label col-11">
                        <h6 class="addressLabel ps-0">Size</h6>
                        <div class="d-flex gap-2">
                            <div class="col-11 ps-0 pt-0">
                                <p-dropdown [options]="attribute.SIZE" optionLabel="name" [autoDisplayFirst]="false"
                                    formControlName="size">
                                </p-dropdown>
                            </div>
                            <div *ngIf="addProductForm.get('size').value" class="col-1 pt-1">
                                <i style="color: green" class="bi bi-check-circle" (click)="onAddAttribute('size')"
                                    pTooltip="Confirm"></i>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="pet-image col-11">
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <b>Product Image</b>
                    </div>
                </p-divider>
                <div class="img-container d-flex flex-wrap gap-4 m-4 my-1" *ngIf="listImages">
                    <div class="img-content" *ngFor="let img of listImages">
                        <div class="btn-delete rounded-circle d-flex justify-content-center align-items-center"
                            (click)="deleteImg(img)">
                            <i class="bi bi-x" style="color: #f5f5f5"></i>
                        </div>
                        <img src="{{ img }}" alt="" />
                    </div>
                </div>
                <div class="d-flex justify-content-center w-100">
                    <p-fileUpload name="file[]" class="w-100 my-1" name="demo[]" chooseLabel="Select image"
                        cancelLabel="Cancel" [showUploadButton]="false" [multiple]="true" [maxFileSize]="10000000"
                        (onSelect)="onSelectFiles($event)" (onRemove)="onRemoveFile($event)">
                        <ng-template pTemplate="content">
                            <!-- <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul> -->
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
            <div class="button-group d-flex justify-content-center mt-2">
                <!-- <button
                    type="submit"
                    class="btn btn-primary text-nowrap"
                    (click)="onSaveProduct()"
                    [disabled]="addProductForm.invalid"
                >
                    Save
                </button> -->
                <button style="width: fit-content" pButton pRipple label="Save" icon="pi pi-save"
                    class="p-button-success px-4" (click)="onSaveProduct()"
                    [disabled]="addProductForm.invalid"></button>
            </div>
        </form>
    </div>
</div>
<p-toast key="toast" [preventOpenDuplicates]="true"></p-toast>